# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/

# Local logs for experiment tracking
wandb/
.comet_ml_runs/
runs/
lightning_logs/

# Large Dataset Files 
data/
outputs/
*.zip
*.tar.gz
*.csv

# Model Weights (save these to a cloud drive/W&B instead)
models/*.pth
models/*.pt
models/*.onnx
*.pkl

# --- Editors & OS ---
.DS_Store
.vscode/
.idea/
*.swp
*.swo